@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1656751524101') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

