.header-content{
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #001529;
    color: #ffffffa6;
    line-height: 64px;
    padding: 0 50px;
}
.header-content .logo{
    width: 100px;
    height: 43px;
    margin: 10px 24px 10px 0;
    /* background: rgba(255, 255, 255, 0.2); */
    line-height: 43px;
    /* background-image: url('../../assets/images/lottery.png'); */
    /* background-repeat: no-repeat; */
}

.header-content .logo img {
    width: 100px;
    height: 100%;
}

.header-content .menu-content {
    flex: auto;
    line-height: inherit;
}